*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: sans-serif;
    -ms-overflow-style: none;
    
}

body::-webkit-scrollbar {
    width: 0; 
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

nav{
    width: 100%;
    height: 80px;
    background-color: black;


}

.column-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}


body .main{
    height: calc(100vh - 160px);
    background-color: black;
    


}
.icon{
    color: white;
    font-size: 20px;
}
.btn-top{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 6px;
    top: 6px;
    gap: 10px;
    color: white;
    
}


.btn-top .btn-speaker{
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 6px;

}

.btn-nav{
    border-radius: 5px;
    background-color: #4a4a4a;
    padding: 5px;
}


body .main .container{
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  


}

.container{
    overflow: auto;
}



.container::-webkit-scrollbar {
    width: 12px; 
}


.container::-webkit-scrollbar-thumb {
    background-color: #222222; 
    border-radius: 6px; 
}

.container::-webkit-scrollbar-track {
    background-color:black;
}

body .main .container .column-container .card{
    position: relative;
    display: flex;

    
}

body .main .column-container>*{
    padding-right: 5px;
    padding-bottom:10px;
   
}

body .main .container .column-container .card img{
    max-width: 250px;
}

body .main .container .column-container .card .btn-card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    padding: 5px;
    
    
    background-color: #606c7959;
    gap: 5px;
}


.card span{
    font-size: 12px;
}

.card i{
    font-size: 15px;
}



.footer{
    background-color: #222222;

    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.footer .interaction{
    margin-left: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    


}


.span{
    font-family: sans-serif;
    font-size: 10px;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .icons{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.icons i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
} 


.footer .icons i:nth-child(4) {
    color: #4cca00;
}

.footer .icons i:nth-child(4) span {
    color: white;
}
.footer .btn{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #4a4a4a;
    color: red;
}

